.headerNavContainer {
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background-color: #131313;
  height: 103px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.headerContainer1 {
  display: flex;
}
.headerHomeAndPopular {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  margin: 10px;
}
.headerList {
  display: flex;
  align-self: center;
  list-style-type: none;
}
.headerContainer2 {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
}
.headerAvatar {
  border-radius: 40px;
  margin: 10px;
}
