.loginBgContainer {
  width: 1440px;
  height: 1024px;
  left: 0px;
  top: 0px;
  background: linear-gradient(
      116.64deg,
      rgba(0, 0, 0, 0.8) 0.46%,
      rgba(0, 0, 0, 0) 100%
    ),
    url('https://res.cloudinary.com/de45if6nj/image/upload/v1678422019/netfilx_1_crbt4u.jpg');
}
.movieName {
  position: absolute;
  width: 180px;
  height: 52px;
  left: 165px;
  top: 48px;
}
.loginCardContainer {
  position: absolute;
  width: 456px;
  height: 440px;
  left: 492px;
  top: 292px;
  background: #0c0b10;
  opacity: 0.8;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.loginHeading {
  width: 78px;
  height: 40px;
  left: 681px;
  top: 356px;
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
.fieldContainer {
  align-self: flex-start;
  margin-bottom: 20px;
  margin-left: 10px;
}
.loginLabel {
  width: 65px;
  height: 16px;
  left: 0px;
  top: 0px;
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 10px;
}
.loginInput {
  height: 25px;
  width: 390px;
  left: 0%;
  right: 0%;
  top: 24px;
  background: #333333;
  border-radius: 2px;
  display: flex;
  color: #fff;
  align-self: stretch;
}
.loginButton {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background: #e50914;
  border-radius: 8px;
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  align-self: stretch;
  text-align: center;
  color: #f8fafc;
  margin-left: 10px;
  margin-right: 10px;
}
.error {
  color: #e50914;
}
